<div class="container-fluid">
  <div class="row">
  <div class="col-sm-8"><!-- Square card -->
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">{{user.id}}-{{user.username}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
      Dancer
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>
  <!-- Square card -->
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">{{user.id}}-{{user.username}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
     Dancer
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Updates
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
<div id="circle-shape-example">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/kiwifruit-on-a-plate.jpg" alt="A photograph of sliced kiwifruit on a while plate" class="curve"><h1>KiwiFruit</h1>


  </div>
</div>


  



</div>